![title](Chapter-2.png "Header")
___
# Chapter 2 -  Machine Learning Based Recommendation Systems
## Segment 1 - Classification-based Collaborative Filtering Systems
## Logistic Regression as a Classifier

In [14]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame
from sklearn.linear_model import LogisticRegression

This bank marketing dataset is open-sourced and available for download at the UCI Machine Learning Repository (https://archive.ics.uci.edu/ml/datasets/Bank+Marketing#).

It was originally created by: [Moro et al., 2014] S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems, Elsevier, 62:22-31, June 2014

In [15]:
bank_full = pd.read_csv('bank_full_w_dummy_vars.csv')
bank_full.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,...,job_unknown,job_retired,job_services,job_self_employed,job_unemployed,job_maid,job_student,married,single,divorced
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,1,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,...,0,0,0,0,0,0,0,1,0,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,...,1,0,0,0,0,0,0,0,1,1

In [16]:
bank_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 37 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           45211 non-null  int64
 1   job                           45211 non-null  object
 2   marital                       45211 non-null  object
 3   education                     45211 non-null  object
 4   default                       45211 non-null  object
 5   balance                       45211 non-null  int64
 6   housing                       45211 non-null  object
 7   loan                          45211 non-null  object
 8   contact                       45211 non-null  object
 9   day                           45211 non-null  int64
 10  month                         45211 non-null  object
 11  duration                      45211 non-null  int64
 12  campaign                      45211 non-null  int64
 13  pdays                         45211 non-null  int64
 14  previous                      45211 non-null  int64
 15  poutcome                      45211 non-null  object
 16  y                             45211 non-null  object
 17  y_binary                      45211 non-null  int64
 18  housing_loan                  45211 non-null  int64
 19  credit_in_default             45211 non-null  int64
 20  personal_loans                45211 non-null  int64
 21  prev_failed_to_subscribe      45211 non-null  int64
 22  prev_subscribed               45211 non-null  int64
 23  job_management                45211 non-null  int64
 24  job_tech                      45211 non-null  int64
 25  job_entrepreneur              45211 non-null  int64
 26  job_bluecollar                45211 non-null  int64
 27  job_unknown                   45211 non-null  int64
 28  job_retired                   45211 non-null  int64
 29  job_services                  45211 non-null  int64
 30  job_self_employed             45211 non-null  int64
 31  job_unemployed                45211 non-null  int64
 32  job_maid                      45211 non-null  int64
 33  job_student                   45211 non-null  int64
 34  married                       45211 non-null  int64
 35  single                        45211 non-null  int64
 36  divorced                      45211 non-null  int64
dtypes: int64(27), object(10)
memory usage: 12.8+ MB

In [17]:
x = bank_full.loc[:,(18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36)].values
y = bank_full.loc[:,17].values

KeyError: "None of [Int64Index([18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,\n            35, 36],\n           dtype='int64')] are in the [columns]"